beautifulsoup4==4.11.1
boto3==1.34.35
botocore==1.34.35
charset-normalizer==2.1.1
click==7.1.2
cryptography==3.1.1
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.6
dj-database-url==1.0.0
Django==4.0.6
django-bootstrap-form==3.4
django-bootstrap-v5==1.0.11
django-cors-headers==3.13.0
django-crispy-forms==1.14.0
django-heroku==0.3.1
django-storages==1.14.2
django-taggit==3.1.0
djangorestframework==3.14.0
gunicorn==20.1.0
MarkupSafe==2.1.3
mccabe==0.6.1
Pillow==7.2.0
platformdirs==2.6.0
prometheus-client==0.17.1
psycopg2-binary==2.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.20
Pygments==2.16.1
pylint==2.5.3
pylint-django==2.3.0
pylint-plugin-utils==0.6
PyMySQL==0.10.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-json-logger==2.0.7
pytz==2020.1
PyYAML==6.0.1
pyzmq==25.1.1
redis==4.5.3
referencing==0.30.2
requests==2.31.0
spotipy==2.22.1
sqlparse==0.4.2
stack-data==0.6.3
terminado==0.17.1
tinycss2==1.2.1
virtualenv==20.17.1
whitenoise==6.2.0
