{% load static %}

<div class="footer-basic">
    <footer>
        <div class="social">
            <a href="https://github.com/wafas-repo"><i class="fa fa-github"></i></a>
            <a href="https://linkedin.com/in/wafaqazi"><i class="fa fa-linkedin"></i></a>
            <a href="https://youtu.be/46sPUub7GgY"><i class="fa fa-youtube"></i></a>
            <a href="https://wafaqazi.com/"><i class="fa fa-link"></i></a>
        </div>
        <ul class="list-inline">
            <span>All Artists: </span>
            <li class="list-inline-item"><a href="{% url 'artists-index' 'A' %}">A</a></li>
            <li class="list-inline-item"><a href="{% url 'artists-index' 'B' %}">B</a></li>
            <li class="list-inline-item"><a href="{% url 'artists-index' 'C' %}">C</a></li>
            <li class="list-inline-item"><a href="{% url 'artists-index' 'D' %}">D</a></li>
            <li class="list-inline-item"><a href="{% url 'artists-index' 'E' %}">E</a></li>
            <li class="list-inline-item"><a href="{% url 'artists-index' 'F' %}">F</a></li>
            <li class="list-inline-item"><a href="{% url 'artists-index' 'G' %}">G</a></li>
            <li class="list-inline-item"><a href="{% url 'artists-index' 'H' %}">H</a></li>
            <li class="list-inline-item"><a href="{% url 'artists-index' 'I' %}">I</a></li>
            <li class="list-inline-item"><a href="{% url 'artists-index' 'J' %}">J</a></li>
            <li class="list-inline-item"><a href="{% url 'artists-index' 'K' %}">K</a></li>
            <li class="list-inline-item"><a href="{% url 'artists-index' 'L' %}">L</a></li>
            <li class="list-inline-item"><a href="{% url 'artists-index' 'M' %}">M</a></li>
            <li class="list-inline-item"><a href="{% url 'artists-index' 'N' %}">N</a></li>
            <li class="list-inline-item"><a href="{% url 'artists-index' 'O' %}">O</a></li>
            <li class="list-inline-item"><a href="{% url 'artists-index' 'P' %}">P</a></li>
            <li class="list-inline-item"><a href="{% url 'artists-index' 'Q' %}">Q</a></li>
            <li class="list-inline-item"><a href="{% url 'artists-index' 'R' %}">R</a></li>
            <li class="list-inline-item"><a href="{% url 'artists-index' 'S' %}">S</a></li>
            <li class="list-inline-item"><a href="{% url 'artists-index' 'T' %}">T</a></li>
            <li class="list-inline-item"><a href="{% url 'artists-index' 'U' %}">U</a></li>
            <li class="list-inline-item"><a href="{% url 'artists-index' 'V' %}">V</a></li>
            <li class="list-inline-item"><a href="{% url 'artists-index' 'W' %}">W</a></li>
            <li class="list-inline-item"><a href="{% url 'artists-index' 'X' %}">X</a></li>
            <li class="list-inline-item"><a href="{% url 'artists-index' 'Y' %}">Y</a></li>
            <li class="list-inline-item"><a href="{% url 'artists-index' 'Z' %}">Z</a></li>

        </ul>
        <p class="copyright">MeloFile © 2022</p>
    </footer>
</div>
