<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
    <script src="https://kit.fontawesome.com/f34d8750ac.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsdiff/5.1.0/diff.min.js"></script>
    <title>MeloFile</title>
</head>
<body>
    {% include 'navbar.html' %}
    {% block body %}
    
    {% endblock %}

    <script src="{% static 'js/script.js' %}"></script>

</body>

</html>