{% extends 'main.html' %}

{% block body %}

<div class="song__header">

    <div>
        <img alt="Cover art for Snooze by SZA" style="height: 15rem; width:15rem;" src="https://t2.genius.com/unsafe/428x428/https%3A%2F%2Fimages.genius.com%2Fcde31e780d76c90305bc02d73bf4640b.1000x1000x1.png" data-visible="true"> 
    </div>
    <div class="song-header-info">
        <h3>{{artist}}</h3>

    </div>

</div>

<div>

    <h2>Popular {{artist}} songs</h2>

    {% for song in artist_songs %}

        <h5><a href="{% url 'song' song.id %}">{{song.title}}</a> -- {{song.artist}} </h5>

    {% endfor %}
</div>

{% endblock %}