{% extends 'main.html' %}

{% block body %}

<div id="container">
    <div id="main">
        <div class="page__header">
            <h3>EDIT REQUESTS</h3>
        </div>

    {% for request in received_requests %}
    <div class="feedcomment__box">
        <div class="activities__boxHeader roomListRoom__header">
            <a href="{% url 'user-profile' request.from_user.id %}" class="roomListRoom__author">
                <div class="avatar avatar--small">
                    <img src="{{request.from_user.avatar.url}}">
                </div>
                <p>
                    @{{request.from_user}}
                    <span>{{ request.created|timesince }} ago</span>
                </p>
            </a>
        </div>
        <div class="activities__boxContent">
            <p>requested an edit for song “<a href="{% url 'song' request.song.id %}">{{ request.song.title }}</a>”</p>
            <a href="{% url 'request-view' request.id %}">View</a>
        </div>
    </div>
    <br>
    {% endfor %}
    
    {% for request in sent_requests %}
    <div class="feedcomment__box">
        <div class="activities__boxHeader roomListRoom__header">
            <a href="{% url 'user-profile' request.from_user.id %}" class="roomListRoom__author">
                <div class="avatar avatar--small">
                    <img src="{{request.from_user.avatar.url}}">
                </div>
                <p>
                    @{{request.from_user}}
                    <span>{{ request.created|timesince }} ago</span>
                </p>
            </a>
        </div>
        <div class="activities__boxContent">
            <p> You requested an edit for song “<a href="{% url 'song' request.song.id %}">{{ request.song.title }}</a>”</p>
            <a href="{% url 'request-view' request.id %}">View</a>
        </div>
    </div>
    <br>
    {% endfor %}

    </div>
</div>


{% endblock %}