{% extends 'main.html' %}

{% block body %}

<main>
    <div id="container">
        <div id="main">
            <div class="page__header">
                <h3>My Favorites</h3>
            </div>
           {% if favorite_songs %}
            <div>
                {% include 'base/feed_component.html' %}
            </div>
            {% else %}
                <h1>No Favorites Yet!</h1>
            {% endif %}
            {% if favorite_songs %}
                <div class="pagination">   
                    <ul class="container">
                        <li class="">
                            {% if page.has_previous %}
                            <a class="btn page-link" href="{% url 'home' %}?page={{ page.previous_page_number }}">Previous</a>
                            {% endif %}
                        </li>
                        {% for num_page in page.paginator.page_range %}
                                    {% if page.number == num_page %}
                                        <li class="page-item active"><a class="btn page-link" href="{% url 'home' %}?page={{ num_page }}">{{num_page}}</a></li>
                                    {% else %}
                                        <li class="page-item"><a class="btn page-link" href="{% url 'home' %}?page={{ num_page }}">{{num_page}}</a></li>
                                    {% endif %}
                        {% endfor %}
                        <li class="">
                            {% if page.has_next %}
                            <a class="btn page-link" href="{% url 'home' %}?page={{ page.next_page_number }}">Next</a>
                            {% endif %}
                        </li>   
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
</main>

{% endblock %}