{% extends 'main.html' %}

{% block body %}

<main>
    <div id="container">
        <div style="margin-bottom: 5rem;" id="main">
            <div class="page__header">
                <h3>FEED</h3>
            </div>

            <div>
                {% for song in songs %}
                <div class="feed-sect">
                    <div class="activities__boxHeader roomListRoom__header">
                        <a href="{% url 'user-profile' song.creator.id %}" class="roomListRoom__author">
                            <div class="avatar avatar--small">
                                <img src="{{song.creator.avatar.url}}">
                            </div>
                            <p>
                                @{{song.creator}}
                                <span>{{song.created|timesince}} ago</span>
                            </p>
                        </a>
                    </div>
                    <div  class="feed-layout activities__boxContent">
                        <p>posted :</p>
                        <div style="border-bottom: none;">
                            <div>
                                <img src="{{song.album_art}}" alt="BTS">
                            </div>
                            <div>
                                <a class="feed-song-title" href="{% url 'song' song.id %}">{{song.title}}</a> 
                                <br>
                                <a href="{% url 'artists-page' song.artist.name %}">{{song.artist}}</a>
                            </div>
                        </div>
                    </div>
                </div>  
                <br> 
                    <!-- <h5><a href="{% url 'song' song.id %}">{{song.title}}</a> -- {{song.artist}} </h5>
                    <hr> -->
                {% endfor %}

                {% for comment in following_comments %}

                    <div class="feedcomment__box">
                        <div class="activities__boxHeader roomListRoom__header">
                            <a href="{% url 'user-profile' comment.user.id %}" class="roomListRoom__author">
                                <div class="avatar avatar--small">
                                    <img src="{{comment.user.avatar.url}}">
                                </div>
                                <p>
                                    @{{comment.user}}
                                    <span>{{comment.date_added|timesince}} ago</span>
                                </p>
                            </a>
                        </div>
                        <div class="activities__boxContent">
                            <p>commented on “<a href="{% url 'song' comment.song.id %}">{{comment.song.title}}</a>”</p>
                            <div class="activities__boxRoomContent">{{comment.comment}}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
</main>



{% endblock %}