{% extends 'main.html' %}

{% block body %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>

<div>
    All Artists : <a href="{% url 'artists-index' 'A' %}">A</a> 
                  <a href="{% url 'artists-index' 'B' %}">B</a> 
                  <a href="{% url 'artists-index' 'C' %}">C</a> 
                  <a href="{% url 'artists-index' 'D' %}">D</a> 
                  <a href="{% url 'artists-index' 'E' %}">E</a> 
                  <a href="{% url 'artists-index' 'F' %}">F</a> 
                  <a href="{% url 'artists-index' 'G' %}">G</a> 
                  <a href="{% url 'artists-index' 'H' %}">H</a>
                  <a href="{% url 'artists-index' 'I' %}">I</a> 
                  <a href="{% url 'artists-index' 'J' %}">J</a> 
                  <a href="{% url 'artists-index' 'K' %}">K</a> 
                  <a href="{% url 'artists-index' 'L' %}">L</a> 
                  <a href="{% url 'artists-index' 'M' %}">M</a> 
                  <a href="{% url 'artists-index' 'N' %}">N</a> 
                  <a href="{% url 'artists-index' 'O' %}">O</a> 
                  <a href="{% url 'artists-index' 'P' %}">P</a> 
                  <a href="{% url 'artists-index' 'Q' %}">Q</a> 
                  <a href="{% url 'artists-index' 'R' %}">R</a> 
                  <a href="{% url 'artists-index' 'S' %}">S</a> 
                  <a href="{% url 'artists-index' 'T' %}">T</a> 
                  <a href="{% url 'artists-index' 'U' %}">U</a> 
                  <a href="{% url 'artists-index' 'V' %}">V</a> 
                  <a href="{% url 'artists-index' 'W' %}">W</a> 
                  <a href="{% url 'artists-index' 'X' %}">X</a> 
                  <a href="{% url 'artists-index' 'Y' %}">Y</a> 
                  <a href="{% url 'artists-index' 'Z' %}">Z</a> 
                  <hr>
</div>
<div class="home-container">

    <div>
        {% include 'base/genres_component.html' %}
    </div>

    <div>

        <h1>ALL SONGS</h1>

        <div>
            {% include 'base/feed_component.html' %}
        </div>

    </div>

    <div class="top-latest-col">

        <div class="top-lyrics-div">
            <h1>TOP LYRICS</h1>
            <hr>

            {% for song in ratings %}
                <div>
                    <h5> <a href="{% url 'song' song.id %}">{{song.title}}</a> -- {{song.artist}} -- {{song.average_rating}}</h5>
                </div>
            {% endfor %}
        </div>

        <div class="latest-lyrics-div">

            <h1>LATEST</h1>

            {% for song in latest %}
                <div>
                    <h5> <a href="{% url 'song' song.id %}">{{song.title}}</a> -- {{song.artist}} -- {{song.created}} </h5>
                </div>
            {% endfor %}

        </div>

    </div>


</div>

{% endblock %}