{% extends 'main.html' %}

{% block body %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>

<!-- <div>
    All Artists : <a href="">A</a> 
                  <a href="">B</a> 
                  <a href="">C</a> 
                  <a href="">D</a> 
                  <a href="">E</a> 
                  <a href="">F</a> 
                  <a href="">G</a> 
                  <a href="">H</a>
                  <a href="">I</a> 
                  <a href="">J</a> 
                  <a href="">K</a> 
                  <a href="">L</a> 
                  <a href="">M</a> 
                  <a href="">N</a> 
                  <a href="">O</a> 
                  <a href="">P</a> 
                  <a href="">Q</a> 
                  <a href="">R</a> 
                  <a href="">S</a> 
                  <a href="">T</a> 
                  <a href="">U</a> 
                  <a href="">V</a> 
                  <a href="">W</a> 
                  <a href="">X</a> 
                  <a href="">Y</a> 
                  <a href="">Z</a> 
                  <hr>
</div> -->
<div class="home-container">

    <!-- <div>
        {% include 'base/genres_component.html' %}
    </div> -->

    <div>

        <a href="{% url 'add-song' %}">Add Song</a>

       

        <h1>TOP LYRICS</h1>
        <hr>

        {% for song in ratings %}
            <div>
                <h5> <a href="{% url 'song' song.id %}">{{song.title}}</a> -- {{song.artist}} -- {{song.average_rating}}</h5>
            </div>
        {% endfor %}


        <h1>LATEST</h1>

        {% for song in latest %}
            <div>
                <h5> <a href="{% url 'song' song.id %}">{{song.title}}</a> -- {{song.artist}} -- {{song.created}} </h5>
            </div>
        {% endfor %}

        <h1>ALL SONGS</h1>

        <div>
            {% include 'base/feed_component.html' %}
        </div>

    </div>


</div>

{% endblock %}