{% extends 'main.html' %}

{% block body %}

<h1>{{profile.username}}</h1>

<div>
    <p>Followers: {{ num_followers }}  Following: {{num_following}} </p>
</div>

{% if profile.username == request.user %}
{% else %}
    {% if is_following %}     
        <form method="POST" action="{% url 'remove-follower' profile.id %}">
            {% csrf_token %}
            <button type=submit>UnFollow</button>
        </form>
    {% else %}
        {% if user.is_authenticated %}
        <form method="POST" action="{% url 'add-follower' profile.id %}">
            {% csrf_token %}
             <button  type=submit>Follow</button>
        </form>
        {% else %}
        <a href="{% url 'login' %}"><button type="submit">Follow</button></a>
        {% endif %}
    {% endif %}
{% endif %}

<div class="profile-container">


    <div>
        {% include 'base/feed_component.html' %}
    </div>

</div>



{% endblock %}