{% extends 'main.html' %}

{% block body %}

<div class="register">

    <h1>Sign Up</h1>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form class="sign-up-form" action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label id="user-register" for="">Username</label>
            <input id="user-register" class="form-control" autofocus type="text" name="username">
        </div>
        <div class="form-group">
            <label id="user-register" for="">Email Address</label>
            <input id="user-register" class="form-control" type="email" name="email">
        </div>
        <div class="form-group">
            <label id="user-register" for="">Password</label>
            <input id="user-register" class="form-control" type="password" name="password" >
        </div>
        <div class="form-group">
            <label id="user-register" for="">Confirm Password</label>
            <input id="user-register" class="form-control" type="password" name="confirmation">
        </div>
        <input class="btn btn-primary" type="submit" value="Register">
    </form>

    <p class="callout">
        Already have an account? <a href="{% url 'login' %}">Log In here.</a>
    </p>

    

</div>

    
{% endblock %}