{% extends 'main.html' %}
{% load static %}

{% block body %}


    <h1>{{song.title}}</h1>
    <h3>{{song.artist}}</h3>

    {% if request.user == song.creator %}
        <a href="{% url 'edit-song' song.id  %}">Edit</a>
        <a href="{% url 'delete-song' song.id  %}">Delete</a>
    {% endif %}

    {% if request.user.is_authenticated %}

        <div id="favorite-section">

            {% if is_favorite  %}
            <a href="{% url 'favorite' song.id %}">
                <i class="fa fa-regualr fa-heart"></i>
            </a>
            {% else %}
            <a href="{% url 'favorite' song.id %}">
                <i class="far fa-regualr fa-heart"></i>
            </a>
            {% endif %}
            
        </div>
    {% endif %}

    <h5 class="card-title">Avg rating:
        <span class="fa fa-star {% if song.average_rating > 0 %} checked {% endif %}"></span>
        <span class="fa fa-star {% if song.average_rating > 1 %} checked {% endif %}"></span>
        <span class="fa fa-star {% if song.average_rating > 2 %} checked {% endif %}"></span>
        <span class="fa fa-star {% if song.average_rating > 3 %} checked {% endif %}" ></span>
        <span class="fa fa-star {% if song.average_rating > 4 %} checked {% endif %}"></span>
        <span>({{song.average_rating|floatformat:"0"}}/5 {{rating_count}} ratings)</span>
    </h5> 


    {% if request.user.is_authenticated %}
        <ul class="btn btn-light list-inline rating-list">
            <li onclick="rate(5, {{ song.id }})">
                <i class="fa fa-star {% if song.user_rating > 4 %} checked {% endif %}" title="Rate 5"></i></li>
            <li onclick="rate(4, {{ song.id }})">
                <i class="fa fa-star {% if song.user_rating > 3 %} checked {% endif %}" title="Rate 4"></i></li>
            <li onclick="rate(3, {{ song.id }})">
                <i class="fa fa-star {% if song.user_rating > 2 %} checked {% endif %}" title="Rate 3"></i></li>
            <li onclick="rate(2, {{ song.id }})">
                <i class="fa fa-star {% if song.user_rating > 1 %} checked {% endif %}" title="Rate 2"></i></li>
            <li onclick="rate(1, {{ song.id }})">
                <i class="fa fa-star {% if song.user_rating > 0 %} checked {% endif %}" title="Rate 1"></i></li>
        </ul>
    {% endif %}
    <hr>
    
    {% if request.user.is_authenticated %}
        {% if song.creator != request.user %}
            <button id="editReqBtn" class="edit_Request_Button"  data-song_id="{{ song.id }}">Edit Request</button>
        {% endif %}
    {% endif %}
    
    <div id="song-lyrics-{{ song.id }}">
        <p id="edit" class="lyric-content">{{ song.lyrics }}</p> 
    </div>
    
    <div>
        <p>Genres: {% for genre in song.genre.all %}{{ genre }}{% endfor %}</p>
    </div>

    <div class="contributors-container">

        <h3>Contributors</h3>
        <hr>
        {% for user in contributors %}
            <div>
                <a href="{% url 'user-profile' song.creator.id %}">@{{user.username}}</a>
            </div>
        {% endfor %}

    </div>

    <div class="comment-wrapper">
        <h3>Comments</h3>
        <hr>

        {% for comment in comments %}

            <div>
                {% if request.user == comment.user %}
                    <a href="{% url 'delete-comment' comment.id %}">Delete</a>
                {% endif %}
                <small><a href="{% url 'user-profile' comment.user.id %}">@{{comment.user}}</a> {{comment.date_added|timesince}} ago </small>
                <p>{{comment.comment}}</p>
                <hr>
            </div>

        {% endfor %}

    </div>

    {% if request.user.is_authenticated %}
    <div class="comment-form">
        <form method="POST" action="">
            {% csrf_token %}
            <input type="text" name="comment" placeholder="Leave a comment...">
        </form>
    </div>
    {% endif %}


{% endblock %}